:root {
  --gray-200: #E2E8F0;
  --gray-600: #475569;
  --gray-800: #1E293B;

  --purple-400: #9F67FF;
  --purple-500: #7C3AED;
}

:focus {
  outline: transparent;
 
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
  }

  body, input {
    font-family: 'Titillium Web', sans-serif;
  }